body {
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, th {
    color: #777777;
    font-weight: bold;
}
h2, .h2 {
    border-top: 2px solid #dddddd;
    margin-bottom: 16px;
    padding-top: 24px;
}
h3, .h3 {
    font-size: 16px;
}
h4, .h4 {
    font-size: 14px;
}
b, strong {
    font-size: 20px;
}
p, pre {
    margin-bottom: 24px;
    margin-left: 8px;
    margin-top: 24px;
}
