body {background-color: #fff;}
div.body h1 {background-color: #eee; border: 2px solid #ddd; margin-top: 10pt; padding-left: 10px;}
div.body h2 {margin-left: 10pt;}
div.body p, div.body pre {margin-left: 10pt; margin-right: 10pt;}
div.footer {color: #000; border-top: 2px solid #ddd;}
div.footer a {color: #1b61b6;}
